<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230129002026-trd0f8ldieagq6nl2lna21f210qr1cqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230129002026-trd0f8ldieagq6nl2lna21f210qr1cqk</string>
	<key>API_KEY</key>
	<string>AIzaSyCntijtCPktFNs3a1adG7fipSOfgKX1iGM</string>
	<key>GCM_SENDER_ID</key>
	<string>230129002026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-23040</string>
	<key>STORAGE_BUCKET</key>
	<string>test-23040.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230129002026:ios:e461a67dd4a314f3d40553</string>
	<key>DATABASE_URL</key>
	<string>https://test-23040.firebaseio.com</string>
</dict>
</plist>